SGOINFRE_BASE="$HOME/sgoinfre"
if [ -d "$SGOINFRE_BASE" ]; then
    SGOINFRE="$SGOINFRE_BASE"
else
    SGOINFRE="$(pwd)"
fi
export UV_PROJECT_ENVIRONMENT=$SGOINFRE/Call-Me-Maybe/.venv
export UV_CACHE_DIR=$SGOINFRE/Call-Me-Maybe/.uv_cache
export HF_HOME=$SGOINFRE/Call-Me-Maybe/.llm
export TRANSFORMERS_CACHE=$SGOINFRE/Call-Me-Maybe/.llm
export UV_LINK_MODE=copy